<div class="row">
    <div class="large-12 columns">
        <div class="row">
            <div class="large-3 columns"><%= item.attr('group_name') %></div>
            <div class="large-4 columns"><%= item.attr('voicemail_forward_email') %></div>
            <div class="large-2 columns">
                <a href="javascript://" class="edit">Edit</a>
                <a href="javascript://" class="delete">Delete</a>
            </div>
        </div>
        <div class="row"></div>
    </div>

</div>