<form class="row">
    
    <fieldset>
    
        <legend>Change Password</legend>
    
        <div class="large-12 columns">
            <div class="row">
                <div class="large-12 columns">
                    <input type="password" name="old_credential" placeholder="Current Password" />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="password" name="password" placeholder="New Password"
                            <%= (el)-> VALID.render(LANG.errors, user, 'password', el) %> />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <input type="password" name="confirm_password" placeholder="Confirm Password"
                        <%= (el)-> VALID.render(LANG.errors, user, 'confirm_password', el) %> />
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <% if(viewmodel.attr('is_pin_changed')){ %>
                    <div class="change_password_success_container">
                        <%= LANG.pin_changed %>
                    </div>
                    <% } else { %>
                    <div class="change_password_error_container">
                        <%== LANG.errors[viewmodel.attr('errors.display')] %>
                    </div>
                    <% } %>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <input type="submit" class="button2 right" value="Save" <%= user.valid()?'':'disabled="disabled"' %> />
                </div>
            </div>
        </div>

    </fieldset>

</form>