<div class="setup_password">

    <div class="row">
        <div class="large-5 columns large-centered">
            <h6><%= LANG.title %></h6>
        </div>
        <div class="large-5 columns large-centered container">

            <form class="row password">
                
                <div class="head">
                    <b class="title"><%= LANG.subtitle %></b>
                </div>

                <div class="body">
                    <div class="backend_error"></div>
                    <div class="row">
                        <input type="password" placeholder="New Password"
                               name="password" <%= (el)-> VALID.render(LANG.errors, user, 'password', el) %> />
                    </div>
                    <div class="row">
                        <input type="password" placeholder="Confirm Password"
                               name="confirm_password" <%= (el)-> VALID.render(LANG.errors, user, 'confirm_password', el) %> />
                    </div>

                    <div class="e911_container_js"></div>

                </div>
                <div class="security_questions_cont"></div>

                <div class="row">
                    <div class="columns large-4 large-centered">
                        <input class="button" type="submit" <%= validity()?'':'disabled="disabled"' %> value="Get Started" />
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>