<div class="row">

    <div class="large-12 columns">

        <div class="row wizard_header">
            <div class="large-11 columns">
                <h4><%= LANG.confirm_config_msg %></h4>
                <span class="caption"><%= LANG.config_lines_addional_msg %></span>
            </div>
        </div>

        

        <div clas="row">
            <div class="large-11 large-centered columns">

                <div class="wizard_title">
                    <div class="row">
                        <div class="large-12 columns"><%= LANG.configured_lines %></div>
                    </div>
                </div>


                <%  bundles.each(function(bundle_elem, idx, list){ %>
                <div class="configured_lines">
                    <div class="row">
                        <div class="large-1 columns"><span name="extension"><%= bundle_elem.attr('extensions.0.extension_number')%></span></div>
                        <div class="large-3 columns"><span name="phone"><%= bundle_elem.attr('extensions.0.devices.0.device_name')%></span></div>
                        <div class="large-2 columns"><span name="phone_number"><%= bundle_elem.attr('extensions.0.phone_numbers.0.phonenumber')%></span></div>
                        <div class="large-3 columns">
                            <span name="first_name" class="name"><%= bundle_elem.attr('user.first_name')%></span>
                            <span name="last_name" class="name"><%= bundle_elem.attr('user.last_name')%></span>
                        </div>
                        <div class="large-2 columns"><span name="email"><%= bundle_elem.attr('user.email')%></span></div>
                    </div>
                </div>
                <% }) %>

                <%
                    var summary =  viewmodel.attr('summary')
                    if(summary.attr('total_amount_after_taxes')){
                %>
                <div class="additional_fee">
                    <div class="row">
                        <span class="bold"><%= LANG.additional_fees %></span><span> - <%= LANG.will_be_charged_msg %> <%= summary.attr('credit_card.card_type')%> <%= summary.attr('credit_card.number')%></span>
                    </div>
                </div>
                <div class="plan_detail_container">
                    <div class="row">
                        <div class="large-12 columns plan_detail">

                            <div class="plan_detail_head_container">
                                <div class="row">
                                    <div class="large-10 columns large-centered">
                                        
                                        <div class="plan_detail_head">
                                        <%
                                            var invoice_items = summary.attr('invoice_items')
                                            console.log("invoice",invoice_items)
                                            if(invoice_items) {
                                                for(var i=0; i< invoice_items.length; i++) {
                                        %>
                                                    <div class="row">
                                                        <div class="large-8 columns"><div class="lable"><%= invoice_items[i].name %> (<%= invoice_items[i].quantity %>)</div></div>
                                                        <div class="large-4 columns"><div class="price">$<%= invoice_items[i].amount %></div></div>
                                                    </div>
                                        <% 
                                                }
                                            }
                                        %>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="plan_detail_body_container">
                                <div class="row">
                                    <div class="large-10 columns large-centered">

                                        <div class="plan_detail_body">

                                            <div class="row">
                                                <div class="push-8 large-2 columns">
                                                    <div class="lable"><%= LANG.sub_total %></div>
                                                </div>
                                                <div class="large-2 columns">
                                                    <div class="price">$<%= summary.attr('total_amount_before_taxes') %></div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="push-8 large-2 columns">
                                                    <div class="lable"><%= LANG.tax %></div>
                                                </div>
                                                <div class="large-2 columns">
                                                    <div class="price">$<%= summary.attr('tax_amount') %></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="plan_detail_total_container">

                                <div class="row">
                                    <div class="large-10 columns large-centered">
                                        
                                        <div class="plan_detail_total">

                                            <div class="row">
                                                <div class="push-8 large-2 columns">
                                                    <div class="lable"><%= LANG.total %></div>
                                                </div>
                                                <div class="large-2 columns">
                                                    <div class="price">$<%= summary.attr('total_amount_after_taxes') %></div>
                                                </div>
                                            </div>

                                        </div>
                                        
                                    </div>
                                </div>

                            </div>
                            <% } %>

                            <div class="shipping_info">
                                <div class="row">
                                    <%= LANG.shipping_address_msg %>
                                    <%= tenant.attr('primary_address_street1') ? tenant.attr('primary_address_street1')+',' : '' %>
                                    <%= tenant.attr('primary_address_street2') ? tenant.attr('primary_address_street2')+',' : '' %>
                                    <%= tenant.attr('primary_address_city') ? tenant.attr('primary_address_city')+',' : '' %>
                                    <%= tenant.attr('primary_address_state') ? tenant.attr('primary_address_state')+',' : '' %>
                                    <%= tenant.attr('primary_address_zip') ? tenant.attr('primary_address_zip') : '' %>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        
        <div class="row summary_agreement">
            <div class="large-6 columns large-centered agreement_container"></div>
        </div>

    </div>

</div>